<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:if="${param.done!=null}">
        <p>doi pass thanh cong</p>
    </div>
    <div th:if="${param.error!=null}">
        <p>password cu khong dung</p>
    </div>
    <form th:action = "'/change_password'" method="post">
        <input type="text" name="oldpassword">
        <br/>
        <input type="text" name="newpassword">
        <input type="submit" value="save">
    </form>
</body>
</html>